#header-container {
    position: fixed;
    z-index: 2;
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
    padding-left: 40px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  