#detail-container {
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
    margin-left: -30%;
}

#detail-table {
    height: 650px;
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#left-detail {
    width: 27%;
    height: 100%;
    background-color: rgb(60, 7, 60);
    background-color: #B2C1D1;
    background-color: #444950;
    background-color: #582E21;
    background-color: #54A78A;
    background-color: rgb(84, 54, 84);
    background-color: #B2C1D1;

}

#left-con {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

#right-detail {
    width: 73%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-bottom-right-radius: 50px;
}

#right-con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
}

#chart {
    margin-top: 80px;
    align-self: center;
}

#detail-title {
    color: rgb(60, 7, 60);
    margin-top: 20px;
}