input:focus {
    outline: none !important;
}

#search {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

#search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#search-container {
    position: relative;
    height: 30px;
    width: 325px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid grey;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 9px;
    border-radius: 5px;
}

#search-button {
    border-left: none;
    height: 100%;
    width: 45px;
    background-color: rgb(60, 7, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#clear-search:hover {
    opacity: 0.6;
}

#search-items {
    display: none;
    flex-direction: column;
    position: relative;
    height: auto;
    max-height: 300px;
    background-color: whitesmoke;
    border: 0.5px solid rgb(60, 7, 60);
    border-top: none;
    overflow: scroll;
    margin-top: -1px;
}

#searchbar-input {
    width: 350px;
    height: 30px;
    font-size: 1rem;
    text-align: justify;
    border: none;
    padding-right: 5px;
    background-color: whitesmoke;
    justify-self: center;
}