#class-reg-container {
    padding-top: 0px;
    background-color: white;
    height: auto;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class-reg-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 40px;
}

.input-field {
    border-bottom: 0.5px solid grey;
    padding-top: 0px;
    background-color: white;
}

.form-text {
    padding-top: 10px;
}

#reg-class-title {
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    color: rgb(60, 7, 60);
}

#submit-cls {
    margin-top: 30px;
}

#cls-reg-pwd {
    margin-top: 50px;
    align-self: center;
}

.form-title {
    padding-bottom: 50px;
    color: rgb(60, 7, 60);
    margin-top: -30px;
}