#button {
    width: 200px;
    height: 30px;
    background-color: white;
    border: 1px solid purple;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    transition: all .4s ease-in-out;
    color: rgb(60, 7, 60);
}

#button:hover {
    color: white;
    background-color: rgb(60, 7, 60);
    cursor: pointer;
}