#message-box {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 40px;
    background-color: plum;
    color: black;
    margin-top: 70px;
    margin-left: 2.5%;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#message-box > p {
    margin-left: 400px;
}

#cancel-message:hover {
    cursor: pointer;
}