.pane-option-container {
    position: relative;
    width: calc(100% - 20px);
    height: 30px;
    text-align: justify;
    padding-top: 15px;
    font-size: 1rem;
    padding-left: 20px;
    transition: all .3s ease-in-out;
}

.pane-option-container:hover {
    background-color: white;
    color: purple;
    cursor: pointer;
}
